body {
  text-align: center;
}

.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
}

.modal-content {
  margin: 15% auto;
  padding: 20px;
  border: 2px solid black;
  border-radius: 15px;
  width: 70%;
  background: #777777;
  background: -moz-linear-gradient(45deg,  #777777 0%, #251abc 63%); 
  background: -webkit-linear-gradient(45deg,  #777777 0%,#251abc 63%); 
  background: linear-gradient(45deg,  #777777 0%,#251abc 63%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#777777', endColorstr='#251abc',GradientType=1 ); 

}

.close-modal {
  float: right;
  font-size: 20px;
  background-color: red;
  color: white;
  border-radius: 10px;
  box-shadow: .5px .5px .5px 1px gray;
}

.close-modal:hover {
  background-color: rgba(255, 0, 0, 0.753);
  cursor: pointer;
}

.modal-list {
  list-style: none;
}