@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:ital@1&display=swap');

h1{
  /* font-family: 'Anton', sans-serif; */
  font-family: 'IBM Plex Mono', monospace;
  text-align: center;
  font-size: 80px;
  color: white;
}

form{
  /* background-color: aquamarine; */
  background-image: url("https://i.ibb.co/KXxLYcw/3693187.jpg" );
  background-size: cover;
  border: solid 2px black;
}

h5{
  /* font-family: 'Bebas Neue', cursive; */
  font-family: 'IBM Plex Sans Condensed', sans-serif;
  font-size: 25px;
  color: white;
}

table{
  margin: auto;
  /* background-color: aquamarine; */
  background-image: url("https://i.ibb.co/KXxLYcw/3693187.jpg" );
  background-size: cover;
  min-width: 400px;
  border: solid 2px black;
  color: white;
} 

/* .name{
  color: white;
  font-weight: bold;
} */



td{
  padding: 10px;
  color: white;
  font-weight: bold;
}

body {
  background-color: #75b58a;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
}

.modal-content {
  background-color: #75b58a;
  margin: 15% auto;
  padding: 20px;
  border: 2px solid black;
  width: 80%;
  min-height: 300px;
}

.login{
  width: 300px;
  margin: auto;
}

.user-name{
  padding: 10px;
  color: white;
  font-weight: bold;
}

.password{
    padding: 10px;
    color: white;
    font-weight: bold;
}

.login-button{
  background-color: #355e3b;
  margin-bottom: 10px;
}

.create-button{
  background-color: #355e3b;
  margin-bottom: 10px;
}




